                               * {
                                   margin: 0;
                                   padding: 0;
                                   box-sizing: border-box;
                               }
                               
                               html,
                               body {
                                   height: 100%;
                                   width: 100%;
                               }
                               
                               #main {
                                   height: 100%;
                                   width: 100%;
                                   background-color: lightblue;
                                   padding: 20px;
                                   display: flex;
                                   flex-wrap: wrap;
                                   gap: 20px;
                               }
                               
                               .card {
                                   height: 300px;
                                   width: 250px;
                                   background-color: white;
                                   box-shadow: 10px 10px 30px rgb(179, 176, 176);
                                   border-radius: 20px;
                                   -webkit-border-radius: 25px;
                                   -moz-border-radius: 20px;
                                   -ms-border-radius: 20px;
                                   -o-border-radius: 20px;
                                   display: flex;
                                   flex-direction: column;
                                   justify-content: space-evenly;
                                   align-items: center;
                                   padding: 40px;
                               }
                               
                               .card img {
                                   height: 100px;
                                   width: 100px;
                                   object-fit: cover;
                                   border-radius: 25px;
                                   -webkit-border-radius: 25px;
                                   -moz-border-radius: 25px;
                                   -ms-border-radius: 25px;
                                   -o-border-radius: 25px;
                               }
                               
                               .card h2 {
                                   font-size: 20px;
                                   font-weight: 500;
                               }
                               
                               .card p {
                                   font-size: 14px;
                                   color: gray;
                                   text-align: center;
                               }
                               
                               .card button {
                                   background-color: #007bff;
                                   color: white;
                                   padding: 10px 20px;
                                   border-radius: 20px;
                                   cursor: pointer;
                                   font-size: 14px;
                                   -webkit-border-radius: 20px;
                                   -moz-border-radius: 20px;
                                   -ms-border-radius: 20px;
                                   -o-border-radius: 20px;
                                   cursor: pointer;
                               }
                               
                               .card button:hover {
                                   background-color: transparent;
                                   color: #007bff;
                               }